__pycache__/
.pytest_cache/
.venv/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.DS_Store
data/raw/**/*.json
data/raw/**/*.csv
data/raw/**/*.xls
data/raw/**/*.txt
data/raw/**/*.qgz
data/raw/**/SZ_districts/
data/processed/*.csv
outputs/*.csv
outputs/*.json
outputs/*.pptx
outputs/figures/*.png
